.header_image{
    background-image: url("../images/ThaiGarden-Logo.png");
}

@media only screen and (max-width: 500px){
    .header_image{
        background-image: url("../images/ThaiGarden-Logo.png");
    }
}


body{
    background-image: url("../images/thai_food.jpg");
}

.container{
    margin-top: -10px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-items: stretch;
    font-family: Helvetica sans-serif;
}

.header{
    background-color: #ffffff;
    width: 100%;
    margin-bottom: 20px;
}

.menu_container{
    flex: 3;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
}

.checkout_container{
    flex: 1;
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.side_border{
    border-left: 3px solid #406840;
    background-color: #FFFFFF;
    width: 18px;
}

.checkout_container > img {
    float: right;
    height: 15px;
    width: 20px;
    margin-top: 20px;
}

.checkout_container > p {
    color: #406840;
    font-size: 24px;
    font-weight: bold;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-top: 35px;
}

.checkout_container_option_for {
    display: flex;
    flex-direction: row;
}

.checkout_container_option_for > p {
    flex: 1
}

.checkout_container_option_for > form {
    flex: 3
}

.checkout_container_option_collect{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checkout_container_option_collect > p{
    flex: 1
}
.checkout_container_option_collect > select{
    flex: 3
}

.checkout_container_option_pay {
    display: flex;
    flex-direction: row;
}
.checkout_container_option_pay > p {
    flex: 1
}
.checkout_container_option_pay > form {
    flex: 3
}

.checkout_container_option_name{
    display: flex;
    flex-direction: row;
}
.checkout_container_option_name > p {
    flex: 1
}
.checkout_container_option_name > form {
    flex: 3
}

.checkout_container_option_mobile {
    display: flex;
    flex-direction: row;
}
.checkout_container_option_mobile > p {
    flex: 1
}
.checkout_container_option_mobile > form {
    flex: 3
}

.checkout_container_option_confirm {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.checkout_container_option_confirm > p {
    flex: 1
}
.checkout_container_option_confirm > button {
    flex: 3
}

.menu_type{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    border-radius: 6px 6px;
    background-color: #ffffff;
    opacity: 0.75;
    margin-bottom: 25px;
    width: 100%;
}

.menu_option {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    min-width: 50%;
    margin-left: 15px;
    margin-right: 15px;
}

.order_list{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

.order_list_item {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}
.menu_option_chooseItem{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
}

.menu_option_text {
    display: flex;
    flex: 10;
    flex-direction: column;
    flex-wrap: nowrap;
}

.menu_option_nonText {
    display: flex;
    flex: 1;
    flex-direction: row;
    flex-wrap: nowrap;
}

.menu_header{
    margin-top: 20px;
    margin-bottom: 17px;
}

.menu_header > span {
    color: #406840;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 17px;
    margin-left: 15px;
    margin-right: 15px;
}

.menu_header > img {
    float: right;
    margin-right: 15px;
    transform: rotate(90deg);
 }

.bottom_border {
    border-bottom: 1px solid #406840;
    margin-bottom: 25px;
    margin-left: 15px;
    margin-right: 15px;
}

.menu_option_name{
    color: #c62c02;
    font-size: 18px;
    margin-bottom: 10px;
    margin-right: 15px;
}

.menu_option_description {
    color: #536a1f;
    font-size: 15px;
    margin-bottom: 17px;
}

.menu_option_price {
    color: #000;
    font-size: 18px;
    margin-right: 15px;
}

hr {
    width: 100%;
    height: 8px;
    border: 0;
    box-shadow: inset 0 8px 8px -8px rgba(0, 0, 0, 0.5);
}