.container1 {
    display: block;
    margin: auto;
    width: 410px;
}

.grid {
    border: none;
    border-radius: 15px 15px 15px 15px;
    background-color: #FFFFFF;
}

.grid__row1 {
    display: flex;
}

.grid__item1 {
    flex: 1;
    padding: 5px;
    border: none;
}

img.pic {
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 100px;
}

a img {
    height: 10px !important;
    float: left;
}


body.sansserif {
    font-family: Arial, Helvetica, sans-serif;
}

button {
    text-align: center;
    background: #3498db;
    border-radius: 5px;
    font-family: Arial;
    color: #ffffff;
    font-size: 15px;
    padding: 5px 10px 5px 10px;
    text-decoration: none;
    margin-right: 40%;
}

#myform {
    padding: 5px;
    margin: 2%;
    width: 70%;
}

.qty {
    width: 40px;
    height: 25px;
    text-align: center;
}

input.qtyplus {
    width: 25px;
    height: 25px;
    background-color: #3498db;
    border-radius: 10px;
}

input.qtyminus {
    width: 25px;
    height: 25px;
    background-color: #3498db;
    border-radius: 10px;
}

#cancel{
    color: #c62c02;
    font-weight: bold;
    padding-top:5px;
}

#buttonGrid{
    padding-top:15px;
}
/*.attribImg {*/
    /*position: relative; !** this is the positioning context **!*/
    /*width: 50px;*/
    /*height: 50px;*/
/*}*/
/*input.radio {*/
    /*visibility: hidden;*/
/*}*/

/*label {*/
    /*position: absolute;*/
    /*width: 100%;*/
    /*height: 100%;*/
    /*cursor: pointer;*/
/*}*/

/*img.imgRadio {*/
    /*position: relative;*/
    /*z-index: -1;*/
    /*height: 20px;*/
    /*width: 20px;*/
/*}*/

/*input[type="radio"]:checked+label {*/
    /*background-image: url("../images/Selector - Single Selected 2 Copy@2x.png");*/
    /*background-repeat: no-repeat;*/
    /*background-size: contain;*/
    /*height:20px;*/
/*}*/
